.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #DC9090; }

#aActive{
  background-color: rgb(224,224,224); }
}

#dashboardLink{
  color: red;
  text-decoration: underline;
}

/*____________________________________________________________________________*/
#alignedForm{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:30%;
  left:35%;
  /*determinamos una anchura*/
  width:800px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-200px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:100px;
  padding:5px;
  text-align: center;
}

div.page-content{
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top:30%;
  /*left:35%;
  /*determinamos una anchura*/
  width:100%;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  /*margin-left:-200px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-150px;
  padding:5px;
  text-align: center;
}

#hrRide{
  margin-left: 30%;
  width: 40%;
}

#divDays{
  padding-bottom: 50px;
}

#search{
  margin-bottom: 50px;
}
